<h1>Scan Results</h1>

<ul class="results-list">
  {{#each trends}}

    <li>{{this.country}} &mdash; {{prettyDay this.date}} &mdash; last updated {{prettyTime this.scanFinished}} UTC
      <ul>
      {{#each this.trends}}
        <li><a href="{{this.uri}}">{{this.name}}</a> &mdash; {{this.searchCount}} searches</li>
      {{/each}}
      </ul>
    </li>
  {{/each}}

